version: '3.8'

services:
  heating-controller:
    build:
      context: .
      dockerfile: Dockerfile.controller
    container_name: heating_controller_app
    restart: unless-stopped
    privileged: true  # REQUIRED for RPi.GPIO access
    volumes:
      - ./data:/home/pi/Documents/raspberry_heating/data/  
      - /sys/bus/w1/devices:/sys/bus/w1/devices
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config_overrides:/app/config_overrides 
      - ./app:.

  api-server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: heating_api_server_app
    restart: unless-stopped
    ports:
      - "8042:8042"
    volumes:
      - /sys/bus/w1/devices:/sys/bus/w1/devices
      - ./data:/home/pi/Documents/raspberry_heating/data/  
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config_overrides:/app/config_overrides 
      - ./app:.
